<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="V.css" />
        <title>{% block title %}V{% endblock %}</title>
		<script type="text/javascript" src="http://worldofv.webfactional.com/media/jquery-1.2.3.js"></script>
		{% block javascript %}
		{% endblock %}
    </head>

    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
 </html>